# Ignore tmp files
*~
# Ignore access key
access_key.csv

mike/twitterTools.pyc

mike/twitterStreamer.pyc

.idea/.name

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/Python_Twitter_Bot.iml

.idea/vcs.xml

.idea/workspace.xml

mike/Tweets_per_Day.png
